body{
    text-align: center;
    font-family: sans-serif, Arial;
    background-image: url("images/florenceskyline.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.menu{
    background-color: rgba(255, 255, 255,0.8);
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 15px;
}

.copyright {
    font-size: 0.9em;
    color: black;
    width: 20%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 20px;
}
